<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>accountUpsellBackgroundColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>4F00C5</string>
			</dict>
		</dict>
		<key>adOverlayContentViewActionButtonBackgroundColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.29999999999999999</real>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>adOverlayContentViewActionButtonBorderColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>adOverlayContentViewBackgroundColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>404040</string>
			</dict>
		</dict>
		<key>adOverlayContentViewGradientOverlayColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>adOverlayContentViewImageBevelColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.10000000000000001</real>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>adOverlayContentViewImageShadowColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>adOverlayContentViewTextColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>adOverlayVideoContentViewDurationFillColor</key>
		<dict>
			<key></key>
			<dict>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>adOverlayVideoContentViewDurationTrackColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.34999999999999998</real>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>adOverlayVideoContentViewVideoBackgroundColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.0</real>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>adOverlayVideoOverlayColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.40000000000000002</real>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>catClearColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<integer>0</integer>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>circularProgressViewFillColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.0</real>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>circularProgressViewStrokeBackgroundColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.20000000000000001</real>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>circularProgressViewStrokeColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.80000000000000004</real>
				<key>rgb</key>
				<string>ffffff</string>
			</dict>
		</dict>
		<key>continueWithEmailFlowEntryViewBottomColor</key>
		<dict>
			<key></key>
			<string>7F14D9</string>
		</dict>
		<key>continueWithEmailFlowEntryViewTopColor</key>
		<dict>
			<key></key>
			<string>620BE6</string>
		</dict>
		<key>continueWithEmailFlowPasswordViewBottomColor</key>
		<dict>
			<key></key>
			<string>971BCE</string>
		</dict>
		<key>continueWithEmailFlowPasswordViewTopColor</key>
		<dict>
			<key></key>
			<string>7F14D9</string>
		</dict>
		<key>createPlaylistViewGradientEndColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.20000000000000001</real>
				<key>rgb</key>
				<string>404040</string>
			</dict>
		</dict>
		<key>createPlaylistViewGradientStartColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.40000000000000002</real>
				<key>rgb</key>
				<string>a0a0a0</string>
			</dict>
		</dict>
		<key>debugLogMessageHighlightColor</key>
		<dict>
			<key></key>
			<string>00ffff</string>
		</dict>
		<key>errorDialogMessageColor</key>
		<dict>
			<key></key>
			<string>404040</string>
		</dict>
		<key>errorDialogTitleColor</key>
		<dict>
			<key></key>
			<string>181818</string>
		</dict>
		<key>facebookButtonDisabledBackgroundColor</key>
		<dict>
			<key></key>
			<string>111a2d</string>
		</dict>
		<key>facebookButtonHighlightedBackgroundColor</key>
		<dict>
			<key></key>
			<string>293e6a</string>
		</dict>
		<key>facebookButtonNormalBackgroundColor</key>
		<dict>
			<key></key>
			<string>3b5998</string>
		</dict>
		<key>findFriendsFacebookConnectButtonHighlightedBackgroundColor</key>
		<dict>
			<key></key>
			<string>294797</string>
		</dict>
		<key>geniusCardContentsHighlightColor</key>
		<dict>
			<key></key>
			<string>ffff64ff</string>
		</dict>
		<key>geniusCardContentsTextColor</key>
		<dict>
			<key></key>
			<string>ffffffff</string>
		</dict>
		<key>geniusCardMainTextColor</key>
		<dict>
			<key></key>
			<string>ffffffff</string>
		</dict>
		<key>geniusLogoSubtitleColor</key>
		<dict>
			<key></key>
			<string>ffffff80</string>
		</dict>
		<key>geniusNPVDividerColor</key>
		<dict>
			<key></key>
			<string>333333ff</string>
		</dict>
		<key>geniusNowPlayingViewContentsHighlightColor</key>
		<dict>
			<key></key>
			<string>ffff64ff</string>
		</dict>
		<key>geniusNowPlayingViewContentsTextColor</key>
		<dict>
			<key></key>
			<string>ffffffff</string>
		</dict>
		<key>geniusNowPlayingViewTitleColor</key>
		<dict>
			<key></key>
			<string>ffffffff</string>
		</dict>
		<key>geniusNowPlayingViewVerifiedArtistContentsBackgroundColor</key>
		<dict>
			<key></key>
			<string>2e2e2eff</string>
		</dict>
		<key>geniusNowPlayingViewVerifiedArtistNameColor</key>
		<dict>
			<key></key>
			<string>ffff64ff</string>
		</dict>
		<key>glueBlack20Color</key>
		<dict>
			<key></key>
			<string>#00000033</string>
		</dict>
		<key>glueBlack40Color</key>
		<dict>
			<key></key>
			<string>#00000066</string>
		</dict>
		<key>glueBlack70Color</key>
		<dict>
			<key></key>
			<string>#000000b3</string>
		</dict>
		<key>glueBlackColor</key>
		<dict>
			<key></key>
			<string>#000000ff</string>
		</dict>
		<key>glueBlueColor</key>
		<dict>
			<key></key>
			<string>#4687d6ff</string>
		</dict>
		<key>glueBlueDarkColor</key>
		<dict>
			<key></key>
			<string>#1d4c85ff</string>
		</dict>
		<key>glueBlueFacebookColor</key>
		<dict>
			<key></key>
			<string>#3a5897ff</string>
		</dict>
		<key>glueBlueLightColor</key>
		<dict>
			<key></key>
			<string>#2e77d0ff</string>
		</dict>
		<key>glueButtonPrimaryGreenDisabledBackgroundColor</key>
		<dict>
			<key></key>
			<string>093819</string>
		</dict>
		<key>glueButtonPrimaryGreenHighlightedBackgroundColor</key>
		<dict>
			<key></key>
			<string>14823b</string>
		</dict>
		<key>glueDebugGridLineColor</key>
		<dict>
			<key></key>
			<string>cccccc66</string>
		</dict>
		<key>glueGray10Color</key>
		<dict>
			<key></key>
			<string>#181818ff</string>
		</dict>
		<key>glueGray15Color</key>
		<dict>
			<key></key>
			<string>#282828ff</string>
		</dict>
		<key>glueGray20Color</key>
		<dict>
			<key></key>
			<string>#333333ff</string>
		</dict>
		<key>glueGray25Color</key>
		<dict>
			<key></key>
			<string>#404040ff</string>
		</dict>
		<key>glueGray30Color</key>
		<dict>
			<key></key>
			<string>#535353ff</string>
		</dict>
		<key>glueGray70Color</key>
		<dict>
			<key></key>
			<string>#b3b3b3ff</string>
		</dict>
		<key>glueGray7Color</key>
		<dict>
			<key></key>
			<string>#121212ff</string>
		</dict>
		<key>glueGray7DarkDisabledColor</key>
		<dict>
			<key></key>
			<string>050505</string>
		</dict>
		<key>glueGray7DarkHighlightedColor</key>
		<dict>
			<key></key>
			<string>0d0d0d</string>
		</dict>
		<key>glueGray7LightDisabledColor</key>
		<dict>
			<key></key>
			<string>b8b8b8</string>
		</dict>
		<key>glueGray7LightHighlightedColor</key>
		<dict>
			<key></key>
			<string>5a5a5a</string>
		</dict>
		<key>glueGreenColor</key>
		<dict>
			<key></key>
			<string>#1db954ff</string>
		</dict>
		<key>glueGreenDarkColor</key>
		<dict>
			<key></key>
			<string>#14833bff</string>
		</dict>
		<key>glueGreenLightColor</key>
		<dict>
			<key></key>
			<string>#1ed760ff</string>
		</dict>
		<key>glueRedColor</key>
		<dict>
			<key></key>
			<string>#cd1a2bff</string>
		</dict>
		<key>glueRedDarkColor</key>
		<dict>
			<key></key>
			<string>#941320ff</string>
		</dict>
		<key>glueRedLightColor</key>
		<dict>
			<key></key>
			<string>#e22134ff</string>
		</dict>
		<key>glueWhite10Color</key>
		<dict>
			<key></key>
			<string>#ffffff1a</string>
		</dict>
		<key>glueWhite20Color</key>
		<dict>
			<key></key>
			<string>#ffffff33</string>
		</dict>
		<key>glueWhite40Color</key>
		<dict>
			<key></key>
			<string>#ffffff66</string>
		</dict>
		<key>glueWhite5Color</key>
		<dict>
			<key></key>
			<string>#ffffff0d</string>
		</dict>
		<key>glueWhite70Color</key>
		<dict>
			<key></key>
			<string>#ffffffb3</string>
		</dict>
		<key>glueWhiteColor</key>
		<dict>
			<key></key>
			<string>#ffffffff</string>
		</dict>
		<key>glueWhiteDisabledColor</key>
		<dict>
			<key></key>
			<string>4d4d4d</string>
		</dict>
		<key>glueWhiteHighlightedColor</key>
		<dict>
			<key></key>
			<string>b3b3b3</string>
		</dict>
		<key>googleMapsBannerBackgroundColor</key>
		<dict>
			<key></key>
			<string>0f9d58</string>
		</dict>
		<key>homeMixEntityHeaderButtonPlayColor</key>
		<dict>
			<key></key>
			<string>2B47BA</string>
		</dict>
		<key>homeMixEntityHeaderMainImageLayerBackgroundColor</key>
		<dict>
			<key></key>
			<string>D9D9D9</string>
		</dict>
		<key>homeMixEntityHeaderMainImageShadowColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.5</real>
				<key>rgb</key>
				<string>000000</string>
			</dict>
		</dict>
		<key>launchImageBackgroundColor</key>
		<dict>
			<key></key>
			<string>191414</string>
		</dict>
		<key>primaryTextOnLightColor</key>
		<dict>
			<key></key>
			<string>262121</string>
		</dict>
		<key>recoverAccountFormBackgroundGradientBottomColor</key>
		<dict>
			<key></key>
			<string>5D8DE8</string>
		</dict>
		<key>recoverAccountFormBackgroundGradientTopColor</key>
		<dict>
			<key></key>
			<string>381AC7</string>
		</dict>
		<key>recoverAccountGradientBottomColor</key>
		<dict>
			<key></key>
			<string>4100F5</string>
		</dict>
		<key>recoverAccountGradientTopColor</key>
		<dict>
			<key></key>
			<string>83245F</string>
		</dict>
		<key>resetPasswordGradientBottomColor</key>
		<dict>
			<key></key>
			<string>5D8DE8</string>
		</dict>
		<key>resetPasswordGradientTopColor</key>
		<dict>
			<key></key>
			<string>381CC0</string>
		</dict>
		<key>scannablesCameraOnboardingSlateGradientEndColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<integer>0</integer>
				<key>rgb</key>
				<string>82C5A4</string>
			</dict>
		</dict>
		<key>scannablesCameraOnboardingSlateGradientStartColor</key>
		<dict>
			<key></key>
			<dict>
				<key>alpha</key>
				<real>0.80000000000000004</real>
				<key>rgb</key>
				<string>C6F4CE</string>
			</dict>
		</dict>
		<key>secondaryTextOnLightColor</key>
		<dict>
			<key></key>
			<string>423e3e</string>
		</dict>
		<key>settingsErrorBackgroundColor</key>
		<dict>
			<key></key>
			<string>ff000020</string>
		</dict>
		<key>settingsHighlightCellTextColor</key>
		<dict>
			<key></key>
			<string>BDAA00</string>
		</dict>
		<key>signupStepOneGradientBottomColor</key>
		<dict>
			<key></key>
			<string>8A2EC5</string>
		</dict>
		<key>signupStepOneGradientTopColor</key>
		<dict>
			<key></key>
			<string>3C1CEA</string>
		</dict>
		<key>signupStepThreeGradientBottomColor</key>
		<dict>
			<key></key>
			<string>DE4AA2</string>
		</dict>
		<key>signupStepThreeGradientTopColor</key>
		<dict>
			<key></key>
			<string>9130C4</string>
		</dict>
		<key>signupStepTwoGradientBottomColor</key>
		<dict>
			<key></key>
			<string>BC3EB1</string>
		</dict>
		<key>signupStepTwoGradientTopColor</key>
		<dict>
			<key></key>
			<string>6123D9</string>
		</dict>
		<key>tooltipFillColor</key>
		<dict>
			<key></key>
			<string>00778f</string>
		</dict>
		<key>voiceInteractionBackgroundBottomGradientColor</key>
		<dict>
			<key></key>
			<string>E7175B</string>
		</dict>
		<key>voiceInteractionBackgroundColor</key>
		<dict>
			<key></key>
			<string>110107</string>
		</dict>
		<key>voiceInteractionBackgroundTopGradientColor</key>
		<dict>
			<key></key>
			<string>5E0A25</string>
		</dict>
		<key>voiceInteractionNewBackgroundBottomGradientColor</key>
		<dict>
			<key></key>
			<string>000000</string>
		</dict>
		<key>voiceInteractionNewBackgroundTopGradientColor</key>
		<dict>
			<key></key>
			<string>0325c4</string>
		</dict>
		<key>voiceInteractionNewShadeOverlayBottomGradientColor</key>
		<dict>
			<key></key>
			<string>141725</string>
		</dict>
		<key>voiceInteractionShadeOverlayBottomGradientColor</key>
		<dict>
			<key></key>
			<string>290410</string>
		</dict>
		<key>voiceNowPlayingArtistNameTextColor</key>
		<dict>
			<key></key>
			<string>A1A1A1</string>
		</dict>
		<key>voiceOnboardingBackgroundColor</key>
		<dict>
			<key></key>
			<string>262626</string>
		</dict>
		<key>voiceOnboardingContainerViewBackgroundColor</key>
		<dict>
			<key></key>
			<string>181818</string>
		</dict>
		<key>voiceOnboardingDescriptionTextColor</key>
		<dict>
			<key></key>
			<string>B9B9B9</string>
		</dict>
		<key>voiceOnboardingMicrophoneAccessButtonHighlightedBackgroundColor</key>
		<dict>
			<key></key>
			<string>9b214a</string>
		</dict>
		<key>voiceOnboardingPageIndicatorColor</key>
		<dict>
			<key></key>
			<string>505050</string>
		</dict>
		<key>voiceOnboardingTextureColor</key>
		<dict>
			<key></key>
			<string>EC185D</string>
		</dict>
		<key>voiceTranscriptsTextColor</key>
		<dict>
			<key></key>
			<string>B89698</string>
		</dict>
		<key>wazeBannerBackgroundColor</key>
		<dict>
			<key></key>
			<string>4688D7</string>
		</dict>
		<key>wazeConnectBannerDarkBackgroundColor</key>
		<dict>
			<key></key>
			<string>222326</string>
		</dict>
		<key>wazeConnectBannerGreenBackgroundColor</key>
		<dict>
			<key></key>
			<string>1DA74D</string>
		</dict>
		<key>wazeConnectBannerWildcardBackgroundColor</key>
		<dict>
			<key></key>
			<string>333333</string>
		</dict>
	</dict>
</dict>
</plist>
