Package: com.jacobcxdev.blotify
Name: Blotify
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 0.0.1
Architecture: iphoneos-arm
Description: Spotify UI Customiser
Maintainer: JacobCXDev <jacobcxdev@gmail.com>
Author: JacobCXDev <jacobcxdev@gmail.com>
Section: Tweaks
